<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scenario1</key>
	<dict>
		<key>ScenarioID</key>
		<string>Scenario1</string>
		<key>Title</key>
		<string>食いしん坊の犬</string>
		<key>Description</key>
		<string>欲張りの犬の物語</string>
		<key>Scene</key>
		<array>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_1</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-1.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-1hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>紙舟</string>
				<key>HiddenItemTag</key>
				<integer>1001</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_2</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-2.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-2hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>コーヒーコップ</string>
				<key>HiddenItemTag</key>
				<integer>1002</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_3</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-3.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-3hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>本</string>
				<key>HiddenItemTag</key>
				<integer>1003</integer>
			</dict>
		</array>
	</dict>
	<key>Scenario2</key>
	<dict>
		<key>ScenarioID</key>
		<string>Scenario2</string>
		<key>Title</key>
		<string>テストシナリオ2</string>
		<key>Description</key>
		<string>欲張りの犬の物語</string>
		<key>Scene</key>
		<array>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_1</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-1.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-1hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>紙舟</string>
				<key>HiddenItemTag</key>
				<integer>2001</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_2</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-2.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-2hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>コーヒーコップ</string>
				<key>HiddenItemTag</key>
				<integer>2002</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_3</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-3.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-3hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>本</string>
				<key>HiddenItemTag</key>
				<integer>2003</integer>
			</dict>
		</array>
	</dict>
	<key>Scenario3</key>
	<dict>
		<key>ScenarioID</key>
		<string>Scenario3</string>
		<key>Title</key>
		<string>テストシナリオ3</string>
		<key>Description</key>
		<string>欲張りの犬の物語</string>
		<key>Scene</key>
		<array>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_1</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-1.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-1hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>紙舟</string>
				<key>HiddenItemTag</key>
				<integer>3001</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_2</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-2.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-2hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>コーヒーコップ</string>
				<key>HiddenItemTag</key>
				<integer>3002</integer>
			</dict>
			<dict>
				<key>SceneID</key>
				<string>Scenario1_Scene_3</string>
				<key>BackgroundImageFileName</key>
				<string>easop1-3.png</string>
				<key>HiddenItemImageFileName</key>
				<string>easop1-3hidden.png</string>
				<key>HiddenItemImagePointX</key>
				<integer>100</integer>
				<key>HiddenItemImagePointY</key>
				<integer>100</integer>
				<key>HiddenItemImageWidth</key>
				<integer>50</integer>
				<key>HiddenItemImageHeight</key>
				<integer>50</integer>
				<key>HiddenItemTitle</key>
				<string>本</string>
				<key>HiddenItemTag</key>
				<integer>3003</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
